<!DOCTYPE html>
<html lang="en">
<head>
<title>Supporters / Inclusive Design 24 (#id24) 23 September 2021</title>
{% include '2021/meta.html' %}
</head>
<body>
{% include '2021/inline-svg.html' %}
{% include '2021/header.html' %}
<main>
<div>
<h1>Supporters</h1>

<p>We're a non-profit organisation, and we're able to keep <cite>Inclusive Design 24</cite> free for all participants, to make sure all the talks are captioned in real-time, and to offer all our presenters and guest hosts a "thank you" for their time and effort, because of the generosity of our supporters. Without their help, the spirit of <cite>#id24</cite> would be hard to keep alive.</p>
<p><cite>Inclusive Design 24</cite> offers four supporter tiers: bronze, silver, gold, and platinum.</p>

<table class="supporter-perks">
    <thead>
        <tr>
            <th><span class="visually-hidden">Perk</span></th>
            <th><span class="supporter-perks-tier">Bronze</span></th>
            <th><span class="supporter-perks-tier">Silver</span></th>
            <th><span class="supporter-perks-tier">Gold</span></th>
            <th><span class="supporter-perks-tier">Platinum</span></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Mentions on social networks before, during and after <cite>#id24</cite></th>
            <td><span>Bronze</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Silver</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Gold</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Platinum</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
        </tr>
        <tr>
            <th scope="row">Logo and link on the <a href="https://inclusivedesign24.org/2021/supporters/">supporters page</a></th>
            <td><span>Bronze</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Silver</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Gold</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Platinum</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
        </tr>
        <tr>
            <th scope="row">Logo and link in the footer of all <a href="https://inclusivedesign24.org/2021/">#id24 2021</a> pages</th>
            <td></td>
            <td><span>Silver</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Gold</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Platinum</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
        </tr>
        <tr>
            <th scope="row">Mention at the start and end of every talk</th>
            <td></td>
            <td></td>
            <td><span>Gold</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Platinum</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
        </tr>
        <tr>
            <th scope="row">A sponsor message on <a href="https://twitter.com/id24conf">@id24conf</a></th>
            <td></td>
            <td></td>
            <td><span>Gold</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
            <td><span>Platinum</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
        </tr>
        <tr>
            <th scope="row">Logo on all session thumbnail/opening slides</th>
            <td></td>
            <td></td>
            <td></td>
            <td><span>Platinum</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
        </tr>
        <tr>
            <th scope="row">Join us for the pre-conference session and the afterparty</th>
            <td></td>
            <td></td>
            <td></td>
            <td><span>Platinum</span><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Yes" focusable="false"><use xlink:href="#icon-check"></use></svg></td>
        </tr>
    </tbody>
</table>

<p>Interested in becoming a supporter? Just drop us an email at <a href="mailto:hello@inclusivedesign24.org">hello@inclusivedesign24.org</a></p>
</div>
</main>

{% include '2021/supporters.html' %}

{% include '2021/footer.html' %}

{% include 'google.html' %}

<script src="/2021/scripts/id24.js"></script>
</body>
</html>