<aside id="supporters">
    <h2>Supporters</h2>
    <h3><span>Platinum</span></h3>
    <ul>
        <li><a href="https://www.barclays.co.uk/accessibility/" target="_blank"><img src="/2020/supporters/barclays.svg" alt="In partnership with Barclays"></a></li>
        <li><a href="https://www.adobe.com" target="_blank"><img src="/2020/supporters/adobe.svg" alt="Adobe"></a></li>
    </ul>
    <h3><span>Gold</span></h3>
    <ul>
        <li><a href="https://intopia.digital/" target="_blank"><img src="/2020/supporters/intopia.svg" alt="Intopia"></a></li>
        <li><a href="https://tetralogical.com/" target="_blank"><img src="/2020/supporters/tetralogical.svg" alt="TetraLogical"></a></li>
        <li><a href="https://infoaxia.co.jp/" target="_blank"><img src="/2020/supporters/infoaxia.svg" alt="Infoaxia"></a></li>
    </ul>
    <h3><span>Silver</span></h3>
    <ul>
        <li><a href="https://www.intuit.com/" target="_blank"><img src="/2020/supporters/intuit.svg" alt="Intuit®"></a></li>
        <li><a href="https://webable.com/" target="_blank"><img src="/2020/supporters/webable.svg" alt="WebABLE™"></a></li>
    </ul>
    <h3><span>Bronze</span></h3>
    <ul>
        <li><a href="https://www.deque.com/" target="_blank"><img src="/2020/supporters/deque.svg" alt="Deque Systems"></a></li>
        <li><a href="https://adrianroselli.com/" target="_blank"><img src="/2020/supporters/adrian-roselli-llc.svg" alt="Adrian Roselli LLC"></a></li>
    </ul>
</aside>