<IfModule pagespeed_module>
ModPagespeed off
</IfModule>

RewriteEngine On

# Force redirect to secure https
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect requests to the specific year's subdirectory (need to change this yearly)
RewriteRule ^([^0-9].*) /2018/$1 [R=301,L]