<header>
    <div id="logo">
        <img src="/2025/images/Inclusive_Design24_logo_black.svg" alt="Inclusive Design 24">
    </div>
    <nav id="mainnav" aria-label="Main">
        <p id="date"><span>25 September 2025</span></p>
        <ul>
            <li><a href="/2025/">Home</a></li>
            <li><a href="/2025/schedule/">Schedule</a></li>
            <li><a href="/2025/team/">Team</a></li>
            <li><a href="/2025/supporters/">Supporters</a></li>
        </ul>
    </nav>
</header>