<aside id="supporters">
  <h2>Supporters</h2>
    <h3><span>Platinum</span></h3>
    <ul>
      <li><a href="https://intopia.digital/" target="_blank" rel="noopener"><img src="/2025/supporters/intopia.svg" alt="Intopia"></a></li>
    </ul>
    <h3><span>Silver</span></h3>
    <ul>
      <li><a href="https://www.intuit.com/" target="_blank" rel="noopener"><img src="/2025/supporters/intuit.svg" alt="Intuit"></a></li>
    </ul>
    <h3><span>Bronze</span></h3>
    <ul>
      <li><a href="https://www.lflegal.com/" target="_blank" rel="noopener"><img src="/2025/supporters/lflegal.svg" alt="Law Office of Lainey Feingold"></a></li>
      <li><a href="http://www.mantisandco.com/" target="_blank" rel="noopener"><img src="/2025/supporters/mantis-co.svg" alt="Mantis &  Co."></a></li>
      <li><a href="https://vispero.com/" target="_blank" rel="noopener"><img src="/2025/supporters/vispero.svg" alt="Vispero"></a></li>
    </ul>
</aside>