<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inclusive Design 24 (#id24) 12 September 2024</title>
    {% include '2024/meta.html' %}
</head>
<body>
{% include '2024/inline-svg.html' %}
{% include '2024/header.html' %}
<main>
<div>
<h1>Oops ... this page is not available</h1>
<p>It seems that the page you’re trying to access doesn’t exist.</p>
</div>
</main>

{% include '2024/supporters.html' %}

{% include '2024/footer.html' %}

{% include 'google.html' %}

<script src="/2024/scripts/id24.js"></script>
</body>
</html>