<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inclusive Design 24 (#id24) 21 September 2023</title>
    {% include '2023/meta.html' %}
</head>
<body>
{% include '2023/inline-svg.html' %}
{% include '2023/header.html' %}
<main>
<div>
<h1>Oops ... this page is not available</h1>
<p>It seems that the page you’re trying to access doesn’t exist.</p>
</div>
</main>

{% include '2023/supporters.html' %}

{% include '2023/footer.html' %}

{% include 'google.html' %}

<script src="/2023/scripts/id24.js"></script>
</body>
</html>