<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inclusive Design 24 (#id24) 21 September 2023</title>
    {% include '2023/meta.html' %}
</head>
<body>
{% include '2023/inline-svg.html' %}
{% include '2023/header.html' %}
<main>
<div>
<h1>Save the date!<br><cite>#id24</cite> will return on <strong>21 September 2023</strong></h1>

<p><cite>Inclusive Design 24</cite> (#id24) is a free 24-hour online event for the global community. It celebrates inclusive design and shares knowledge and ideas from analogue to digital, from design to development, from planners to practitioners, and everything and everyone in between.</p>

<!--
<h2>Call for presentations and further information coming soon</h2>
<p>While the planned date for the event is still quite a few months away, we wanted to get in early and lock down the date for what will be our 10<sup>th</sup> edition of <cite>#id24</cite>.</p>
<p>In the meantime, visit the <a href="https://www.youtube.com/inclusivedesign24">Inclusive Design 24 YouTube channel</a>, where you'll find all the recordings from our <a href="/editions/">past #id24 editions</a>.</p>
-->
<!--
<section id="cfp">
<h2>Call for presentations</h2>

<p>Have a great idea for a talk? Want to present at #id24? Great! Our call for speakers opens on <strong>13 March 2023</strong> and closes on <strong>4 June 2023</strong>.</p>

<p><a id="connect" href="https://docs.google.com/forms/d/1yzqAAGtQhxgEDqS2WZeHYPuF9h3TTiEl8NWtht0GWy0/" onclick="ga('send', 'event', 'Submissions', 'Click', 'Submit');">Submit a talk</a></p>

<p>Selected speakers will be notified the week of <strong>19 June 2023</strong>.<br>Have any questions? Why not drop us an email at <a href="mailto:hello@inclusivedesign24.org">hello@inclusivedesign24.org</a></p>
</section>
-->

<!--
<section id="cfp">
<h2>Call for presentations closed</h2>

<p>Thank you to all the people who submitted talk proposals. We are currently finalizing the schedule. Watch this space for a full rundown of planned presentations, as well as instructions on how to virtually attend our free event.</p>

<p>Selected speakers will be notified the week of <strong>19 June 2023</strong><br>Have any questions? Why not drop us an email at <a href="mailto:hello@inclusivedesign24.org">hello@inclusivedesign24.org</a></p>
<p><strong>Update:</strong> apologies, we're running behind on the final selection/scheduling due to the large amount of submissions - rest assured that all the people who submitted will be contacted in the coming weeks.</p>
</section>
-->

<!--
<section id="countdown" class="hidden" aria-live="polite" aria-atomic="true">
  The event will start in <span id="countdown_timer"></span>
</section>
-->
<section id="info">
<h2>How to join</h2>

<p>No sign-up. No registration. All sessions are streamed live and publicly on the <a href="https://www.youtube.com/inclusivedesign24">Inclusive Design 24 YouTube channel</a>{% if 2023.playlistId != blank %} – see the <a target="_blank" rel="noopener" href="https://www.youtube.com/playlist?list={{ 2023.playlistId }}">entire playlist for the event</a>{% endif %}.</p>
<p>All sessions include automated live closed captions. After the event, these are replaced by manually edited closed captions. Unfortunately, we are not able to provide sign language interpreters for the event.</p>
</section>

</div>
</main>

{% include '2023/supporters.html' %}

{% include '2023/footer.html' %}

<script src="/2023/scripts/countdown.js"></script>
<script>
if (document.getElementById("countdown_timer")) {
    countdown(new Date("Sept 21, 2023 23:30:00 UTC+0").getTime(), document.getElementById("countdown_timer"));
}
</script>

{% include 'google.html' %}

<script src="/2023/scripts/id24.js"></script>
</body>
</html>