<!DOCTYPE html>
<html lang="en">
<head>
<title>Code of conduct / Inclusive Design 24 (#id24) 22 September 2022</title>
{% include 2022/meta.html %}
</head>
<body>
{% include 2022/inline-svg.html %}
{% include 2022/header.html %}
<main>
<div>
<h1>Code of conduct</h1>
<p>We want <cite>Inclusive Design 24</cite> (#id24) to be inclusive of everyone. We are committed to providing a friendly, safe, and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socio-economic status, and religion (or lack thereof).</p>

<h2>Short version</h2>
<p>We ask and expect everyone who participates in <cite>#id24</cite> to:</p>
<ul>
<li>Take part in an active and authentic way.</li>
<li>Be considerate and respectful in your speech and actions.</li>
<li>Try collaboration before conflict.</li>
<li>Avoid demeaning, discriminatory, or harassing speech and behaviour.</li>
<li>Recognise others who make an extra effort to make <cite>#id24</cite> friendly, welcoming, and who encourage others to take part.</li>
<li>Be mindful of your surroundings, and of your fellow participants.</li>
<li>Alert the <cite>#id24</cite> organisers if you notice a dangerous situation, someone in distress, or violations of this code of conduct (even if they seem inconsequential).</li>
<li>If attending <cite>#id24</cite> in a venue that may be shared with members of the public, be respectful to all patrons at the venue.</li>
</ul>
<p>To report any issues immediately please contact <a href="mailto:team@inclusivedesign24.org">team@inclusivedesign24.org</a>.</p>
<p>Please take a moment to read through the full version below.</p>

<h2>Full version</h2>

<h3>Purpose</h3>
<p>This Code of Conduct describes what we expect from everyone who participates in #id24, and describes what will happen when someone breaks the Code of Conduct.</p>
<p>We ask everyone who takes part in <cite>#id24</cite> to help us make it a good and safe experience for everyone.</p>

<h3>Scope</h3>
<p>We expect everyone who takes part in <cite>#id24</cite> to comply with this Code of Conduct in all online and offline <cite>#id24</cite> venues, and in all online and offline communication relating to #id24. This includes the organisers, sponsors, contributors (paid or otherwise), participants, and guests.</p>
<p>This Code of Conduct also applies to unacceptable behaviour outside of #id24, when such behaviour has the potential to affect the safety and well-being of <cite>#id24</cite> participants.</p>

<h3>Recognition</h3>
<p>We want everyone to understand the relationship between their words and actions, and the way the <cite>#id24</cite> community works together.</p>
<p>We encourage everyone to take deliberate and positive actions, so the <cite>#id24</cite> community does not have the same types of inequality found in society.</p>
<p>If you notice someone who is making an extra effort to make the <cite>#id24</cite> community friendly and welcoming, compliment them for their good work. You can do this personally, or by letting the <cite>#id24</cite> organisers know.</p>

<h3>Expected behaviour</h3>
<p>We expect everyone who participates in <cite>#id24</cite> to:</p>
<ul>
<li>Take part in an active and authentic way.</li>
<li>Be considerate and respectful in your speech and actions.</li>
<li>Try collaboration before conflict.</li>
<li>Avoid demeaning, discriminatory, or harassing speech and behaviour.</li>
<li>Recognise others who make an extra effort to make <cite>#id24</cite> friendly, welcoming, and who encourage others to take part.</li>
<li>Be mindful of your surroundings, and of your fellow participants.</li>
<li>Alert the <cite>#id24</cite> organisers  if you notice a dangerous situation, someone in distress, or violations of this code of conduct (even if they seem inconsequential).</li>
<li>If attending <cite>#id24</cite> in a venue that may be shared with members of the public, be respectful to all patrons at the venue.</li>
</ul>

<h3>Unacceptable  behaviour</h3>
<p>The following things are considered to be unacceptable behaviour:</p>
<ul>
<li>Violence or threats of violence.</li>
<li>Encouraging violence towards any person, including suicide or self-harm.</li>
<li>Offensive or hurtful comments about gender, gender identity and expression, sexual orientation, disability, mental health, neuro(a)typicality, physical appearance, body size, race, religion (or lack thereof), or socio-economic status.</li>
<li>Unnecessary or off-topic sexual images.
<li>Posting or threatening to post other people's personal information (known as "doxing").</li>
<li>deliberate mis-use of people's preferred pronouns.</li>
<li>Inappropriate photography or recording without permission.</li>
<li>Physical contact or virtual physical contact (like messages with "hug" or "kisses"), without the agreement of the person you're offering it to.</li>
<li>Unwelcome sexual attention, including sexualized comments and jokes, inappropriate physical contact and sexual advances.</li>
<li>Deliberate intimidation and stalking (online or offline).</li>
<li>Sustained and deliberate interruption of #id24.</li>
<li>Encouraging or supporting any of the things in this list.</li>
</ul>

<h3>Consequences</h3>
<p>If someone is asked to stop unacceptable behaviour, they are expected to do so immediately.</p>
<p>If someone engages in unacceptable behaviour, the organisers may take any action they believe is appropriate. This includes (but is not limited to) temporary or permanent expulsion from <cite>#id24</cite> (offenders will be reported and blocked to the fullest extent possible by the platform they are using).</p>

<h3>Reporting</h3>
<p>If you experience unacceptable behaviour, or you witness someone behaving in an unacceptable way, please contact <a href="mailto:team@inclusivedesign24.org">team@inclusivedesign24.org</a> immediately.</p>

<h3>Grievances</h3>
<p>If you feel you have been unfairly accused of unacceptable behaviour, please contact <a href="mailto:team@inclusivedesign24.org">team@inclusivedesign24.org</a> immediately, and include a concise description of your grievance.</p>

<h3>License and attribution</h3>
<p>This code of conduct is distributed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike license</a>.</p>
<p>It has been adapted from <a href="https://samsungcreate.com/code-of-conduct">Samsung's Create Code of Conduct</a>, which was in turn adapted from <a href="https://viewsourceconf.org/code-of-conduct/">Mozilla's View Source code of conduct</a>, <a href="http://citizencodeofconduct.org/">Stumptown Syndicate’s  Citizen Code of Conduct</a>, portions of which are derived from the <a href="https://www.djangoproject.com/conduct/">Django Code of Conduct</a> and the <a href="https://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism Anti-Harassment Policy</a>. Additional text from the <a href="https://lgbtq.technology/coc.html">LGBTQ in Technology Code of Conduct</a>.</p>
</div>
</main>

{% include 2022/supporters.html %}

{% include 2022/footer.html %}

{% include google.html %}

<script src="/2022/scripts/id24.js"></script>
</body>
</html>