<!DOCTYPE html>
<html lang="en">
<head>
<title>#id24 team / Inclusive Design 24 (#id24) 21 September 2023</title>
{% include '2023/meta.html' %}
</head>
<body>
{% include '2023/inline-svg.html' %}
{% include '2023/header.html' %}
<main>
<div>
<h1>Team</h1>

<h2>Organisers</h2>

<dl class="team">
    <dt>Léonie Watson</dt>
    <dd><a href="https://front-end.social/@tink"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @tink@front-end.social</a></dd>
    <dd><a href="https://tink.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> tink.uk</a></dd>
    <dt>Ian Pouncey</dt>
    <dd><a href="https://mastodon.social/@IanPouncey"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @IanPouncey</a></dd>
    <dd><a href="https://ianpouncey.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ianpouncey.com</a></dd>
    <dt>Patrick H. Lauke</dt>
    <dd><a href="https://mastodon.social/@patrick_h_lauke"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @patrick_h_lauke@mastodon.social</a></dd>
    <dd><a href="https://www.splintered.co.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> splintered.co.uk</a></dd>
    <dt>Eric Bailey</dt>
    <dd><a href="https://front-end.social/@ericwbailey"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @ericwbailey@front-end.social</a></dd>
    <dd><a href="https://ericwbailey.design/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ericwbailey.design</a></dd>
    <dt>Hans Hillen</dt>
    <dd><a href="https://twitter.com/hanshillen"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @hanshillen</a></dd>
        <dt>Kathleen McMahon</dt>
    <dd><a href="https://front-end.social/@resource11"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @resource11@front-end.social</a></dd>
    <dd><a href="https://www.kathleenmcmahon.me/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> kathleenmcmahon.me</a></dd>
    <dt>Adrian Roselli</dt>
    <dd><a href="https://toot.cafe/@aardrian"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @aardrian@toot.cafe</a></dd>
    <dd><a href="https://adrianroselli.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> adrianroselli.com</a></dd>    
</dl>

<h2>Guest hosts</h2>

<p>In addition to our organisers, our sessions are co-hosted by past speakers and friends of <cite>#id24</cite>.</p>

</div>
</main>

{% include '2023/supporters.html' %}

{% include '2023/footer.html' %}

{% include 'google.html' %}

<script src="/2023/scripts/id24.js"></script>
</body>
</html>