<!-- <aside id="supporters">
  <h2>Supporters</h2>
    <h3><span>Platinum</span></h3>
    <ul>
      <li><a href="" target="_blank" rel="noopener"><img src="/2026/supporters" alt=""></a></li>
    </ul>
    <h3><span>Gold</span></h3>
    <ul>
      <li><a href="" target="_blank" rel="noopener"><img src="/2026/supporters" alt=""></a></li>
    </ul>
    <h3><span>Silver</span></h3>
    <ul>
      <li><a href="" target="_blank" rel="noopener"><img src="/2026/supporters" alt=""></a></li>
    </ul>
    <h3><span>Bronze</span></h3>
    <ul>
      <li><a href="" target="_blank" rel="noopener"><img src="/2026/supporters" alt=""></a></li>
    </ul>
</aside> -->