<!DOCTYPE html>
<html lang="en">
<head>
<title>Information for presenters / Inclusive Design 24 (#id24) 17 September 2020</title>
{% include 2020/meta.html %}
</head>
<body>
{% include 2020/inline-svg.html %}
{% include 2020/header.html %}
<main role="main">
<div>
<h1>Information for presenters</h1>

<p><strong>Hello #id24 presenters!</strong></p>

<p>As #id24 approaches, we’ve put together a few bits and pieces for you to help you prepare for the big day.</p>

<ul>
  <li>Please check the time of your talk once again. #id24 runs on UTC/GMT, so depending on where in the world you are, your talk may be at a different time (on Wednesday not Thursday for example). The <a href="https://inclusivedesign24.org/">#id24 website</a> will show the time of your talk based on the time zone you’re currently in.</li>
  <li>Please be online and connected to your skype at least 30 minutes before your talk is due to start, and have your slides ready to go promptly on the hour. Your host will share your Zoom URL with you at that time.</li>
  <li>Please keep to time. #id24 talks run for 40 minutes with a 10-minute question period at the end. We have to allow a 10-minute change-over between talks for the captioners and hosts. To keep #id24 running smoothly, we’ll be strict about finishing talks (including questions) inside of 50 minutes, but it is also important that your talk does not stop too far short of 40 minutes in order to avoid unexpectedly long breaks between talks, so please run through your talk to make sure it fits the expected time.</li>
</ul>

<h2>Zoom</h2>

<p>We use Zoom to broadcast to YouTube live. Because of how this is set up, the host will start the Zoom at 10 minutes to the hour, and invite you to join via a URL.</p>

<ul>
  <li>Please complete a tech check before the start of #id24. You need to do your tech check using the same setup you will use on the day, and from the same location. We will have an open Zoom running all week for speakers to join. If you’d like an invite, just ping one of the #id24 team in the #id24 Skype channel.</li>
  <li>Do not “Add” attendees from the Zoom URLs. Attendees/viewers will watch via YouTube or via the publicly published URLs on the #id24 site.</li>
</ul>

<p>If you haven’t already, please:</p>

<ul>
  <li>Let us have your Skype ID so we can add you to the presenter’s Skype chat channel. This is the place to ask questions and get help between now and the end of #id24 from the #id24 team members.</li>
  <li>If you are unfamiliar with Zoom, see <a href="https://support.zoom.us/hc/en-us/categories/200101697">Zoom help: Getting started</a>.</li>
  <li>We’ll be asking people to use Twitter and the <a href="https://twitter.com/hashtag/#id24">#id24 hashtag</a> to ask questions.</li>
  <li>We’ll be available right up until Wednesday evening (EST) to walk anyone through Zoom should you need help. Ping us either via <a href="mailto:team@inclusivedesign24.org">email</a> or on Skype and we’ll be happy to assist you.</li>
</ul>

<p>Things to note:</p>

<ul>
  <li>While it is possible to include audio, video, animations and live demos in your presentation, note that any motion that's very fast may not stream smoothly and get choppy. We'd recommend keeping those to a minimum.</li>
  <li>When co-presenting with other people, swapping control of the slides between different people often causes logistical problems. We strongly recommend that only one presenter has responsibility for controlling the slides.</li>
  <li>Please turn off all notifications (text messages, social media, Skype etc.) during your presentation.</li>
  <li>Please avoid live coding during your talk.</li>
  <li>Each session will be moderated by at least two people including one #id24 team member. These teams will be responsible for fielding any questions on twitter and will ask them to you at the end of your talk. These moderators will be silent for the duration of your talk unless there is a reason for them to interrupt you (for example, if your screen stops sharing or there are connectivity issues)</li>
  <li>The #id24 moderators will also be responsible for starting and stopping the broadcast. At the beginning of the session they will “Go live” and you can share your screen. They will then mute themselves and the floor will be yours!</li>
</ul>

<h2>Important dates</h2>

<p>Please note these important dates:</p>

<ul>
<li>Sun 30 Aug: Please send your slides to <a href="mailto:hello@inclusivedesign24.org">hello@inclusivedesign24.org</a>. If you don't have your slides finalised by then, please send us what you've got and send us an update later (but before Thu 3 Sept)</li>
<li>Mon 7/Fri 11 Sept: Please complete your tech check.</li>
<li>Thu 17 Sept: Conference day (noting time zone differences). Please be in the presenter chat in Skype at least 30 minutes before your allocated time slot, so we can get your presentation set up to start on the hour.</li>
</ul>

<h2>Spread the word!</h2>

<p>We need your help spreading the word about #id24 around the world. Please share the #id24 schedule with all your contacts, using the <a href="https://twitter.com/hashtag/#id24">#id24 hashtag</a> where appropriate
<a href="https://inclusivedesign24.org">https://inclusivedesign24.org</a></p>

<h2>Thank you</h2>

<p>With thanks to our partners, we are able to offer a modest fee for each session. We will contact you separately with more details.</p>

<p>Thanks for being part of #id24. If there is anything else we can do to help, you know where to find us, if not - best of luck!</p>

</div>
</main>

{% include 2020/supporters.html %}

{% include 2020/footer.html %}

{% include google.html %}

<script src="/2020/scripts/id24.js"></script>
</script>
</body>
</html>
