<aside id="supporters">
  <h2>Supporters</h2>
  <h3><span>Platinum</span></h3>
  <ul>
    <li><a href="https://infoaxia.co.jp/" target="_blank" rel="noopener"><img src="/2024/supporters/infoaxia.svg" alt="Infoaxia"></a></li>
  </ul>
  <h3><span>Bronze</span></h3>
  <ul>
    <li><a href="https://assistivlabs.com/" target="_blank" rel="noopener"><img src="/2024/supporters/assistivlabs.svg" alt="Assistiv Labs"></a></li>
    <li><a href="https://www.lflegal.com/" target="_blank" rel="noopener"><img src="/2024/supporters/lflegal.svg" alt="Law Office of Lainey Feingold"></a></li>
  </ul>
</aside>