<header>
    <div id="logo">
        <img src="/2020/images/Inclusive_Design24_logo_black.svg" alt="Inclusive Design 24">
    </div>
    <nav id="mainnav" aria-label="Main">
        <p id="date"><span>17 September 2020</span></p>
        <ul>
            <li><a href="/2020/">Home</a></li>
            <li><a href="/2020/schedule/">Schedule</a></li>
            <li><a href="/2020/team/">Team</a></li>
            <li><a href="/2020/supporters/">Supporters</a></li>
        </ul>
    </nav>
</header>