<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="application-name" content="Inclusive Design 24">
<!-- https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs -->
<link rel="icon" href="/2021/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/2021/images/apple-touch-icon.png">
<link rel="icon" href="/2021/images/id24_logo_color_square.svg" type="image/svg+xml">
<link rel="manifest" href="/site.webmanifest">
<meta name="theme-color" content="#ffe400">

<link href="/2021/styles/styles.css" rel="stylesheet">

<meta name="Description" content="A free 24-hour online community event on accessibility and inclusion">

<!-- Twitter Card -->
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="https://inclusivedesign24.org/">
<meta name="twitter:title" content="Inclusive Design 24 (#id24)">
<meta name="twitter:description" content="A free 24-hour online community event on accessibility and inclusion">
<meta name="twitter:image" content="https://inclusivedesign24.org/2021/images/android-chrome-512x512.png">
<meta name="twitter:site" content="@id24conf">
<meta name="twitter:creator" content="@id24conf">

<!-- Facebook Open Graph -->
<meta property="og:title" content="Inclusive Design 24 (#id24)">
<meta property="og:image" content="https://inclusivedesign24.org/2021/images/android-chrome-512x512.png">
<meta property="og:site_name" content="Inclusive Design 24 (#id24)">
<meta property="og:description" content="A free 24-hour online community event on accessibility and inclusion">

<!-- Fediverse -->
<meta property="fediverse:creator" content="@inclusivedesign24@indieweb.social">

<!-- Google Search Console -->
<meta name="google-site-verification" content="aTBfU2krljlTX6nn9eihr9m7Fyogot7wbh_GARRbCqY">