<!DOCTYPE html>
<html lang="en">
<head>
<title>#id24 team / Inclusive Design 24 (#id24) 23 September 2021</title>
{% include 2021/meta.html %}
</head>
<body>
{% include 2021/inline-svg.html %}
<header>
    <div id="logo">
        <img src="/2021/images/Inclusive_Design24_logo_black.svg" alt="Inclusive Design 24">
    </div>
    <nav id="mainnav" aria-label="Main">
        <ul>
            <li><a href="/2021/">Home</a></li>
            <li><a href="/2021/schedule/">Schedule</a></li>
            <li><a href="/2021/team/" aria-current="page">Team</a></li>
            <li><a href="/2021/supporters/">Supporters</a></li>
        </ul>
    </nav>
</header>

<main role="main">
<div>
<h1>Team</h1>

<h2>Organisers</h2>

<dl class="team">
    <dt>Léonie Watson</dt>
    <dd><a href="https://twitter.com/LeonieWatson"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @LeonieWatson</a></dd>
    <dd><a href="https://tink.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> tink.uk</a></dd>
    <dt>Ian Pouncey</dt>
    <dd><a href="https://twitter.com/IanPouncey"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @IanPouncey</a></dd>
    <dd><a href="https://ianpouncey.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ianpouncey.com</a></dd>
    <dt>Patrick H. Lauke</dt>
    <dd><a href="https://twitter.com/patrick_h_lauke"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @patrick_h_lauke</a></dd>
    <dd><a href="https://www.splintered.co.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> splintered.co.uk</a></dd>
    <dt>Eric Bailey</dt>
    <dd><a href="https://twitter.com/ericwbailey"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @ericwbailey</a></dd>
    <dd><a href="https://ericwbailey.design/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ericwbailey.design</a></dd>
    <dt>Adrian Roselli</dt>
    <dd><a href="https://twitter.com/aardrian"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @aardrian</a></dd>
    <dd><a href="https://adrianroselli.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> adrianroselli.com</a></dd>
    <dt>Thomas Logan</dt>
    <dd><a href="https://twitter.com/techthomas"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @techthomas</a></dd>
    <dd><a href="https://equalentry.com"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> equalentry.com</a></dd>
    <dt>Hans Hillen</dt>
    <dd><a href="https://twitter.com/hanshillen"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @hanshillen</a></dd>
    <dt>Henny Swan</dt>
    <dd><a href="https://twitter.com/iheni"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @iheni</a></dd>
</dl>

<h2>Guest hosts</h2>

<p>In addition to our organisers, our sessions are co-hosted by past speakers and friends of <cite>#id24</cite>. Watch this space for the complete list of co-hosts.</p>

<dl class="team">
    <dt>Bryn Anderson</dt>
    <dd><a href="https://www.twitter.com/brynanders"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @brynanders</a></dd>
    <dt>Rachel Andrew</dt>
    <dd><a href="https://www.twitter.com/rachelandrew"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @rachelandrew</a></dd>
    <dd><a href="https://rachelandrew.co.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> rachelandrew.co.uk</a></dd>
    <dt>Steve Faulkner</dt>
    <dd><a href="https://twitter.com/stevefaulkner"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @stevefaulkner</a></dd>
    <dd><a href="https://html5accessibility.com/stuff/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> html5accessibility.com/stuff</a></dd>
    <dt>Carie Fisher</dt>
    <dd><a href="https://www.twitter.com/cariefisher"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @cariefisher</a></dd>
    <dd><a href="https://noti.st/cariefisher"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> noti.st/cariefisher</a></dd>
    <dt>Gareth Ford Williams</dt>
    <dd><a href="https://www.twitter.com/GarethFW"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @GarethFW</a></dd>
    <dd><a href="https://www.thereadability.group/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> thereadability.group</a></dd>
    <dt>Eriol Fox</dt>
    <dd><a href="https://www.twitter.com/erioldoesdesign"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @erioldoesdesign</a></dd>
    <dd><a href="https://erioldoesdesign.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> erioldoesdesign.com</a></dd>
    <dt>Lucy Greco</dt>
    <dd><a href="https://www.twitter.com/accessaces"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @accessaces</a></dd>
    <dd><a href="https://accessaces.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> accessaces.com</a></dd>
    <dt>Sarah Higley</dt>
    <dd><a href="https://www.twitter.com/codingchaos"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @codingchaos</a></dd>
    <dd><a href="https://sarahmhigley.com"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> sarahmhigley.com</a></dd>
    <dt>Njoki Kamau</dt>
    <dd><a href="https://www.linkedin.com/in/njokikamau/"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> njokikamau</a></dd>
    <dt>Kevin Mar-Molinero</dt>
    <dd><a href="https://www.twitter.com/kevmarmol_ct"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @kevmarmol_ct</a></dd>
    <dd><a href="https://medium.com/designing-with-empathy"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> medium.com/designing-with-empathy</a></dd>
    <dt>Tzviya Siegman</dt>
    <dd><a href="https://www.twitter.com/tzviyasiegman"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @tzviyasiegman</a></dd>
    <dd><a href="https://www.linkedin.com/in/tzviya/"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> tzviya</a></dd>
</dl>

</div>
</main>

{% include 2021/supporters.html %}

<footer>
    <nav id="footer-social" aria-label="Social media">
        <ul>
            <li><a href="https://twitter.com/id24conf"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @id24conf</a></li>
            <li><a href="https://www.youtube.com/InclusiveDesign24"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="YouTube: " focusable="false"><use xlink:href="#icon-player"></use></svg> InclusiveDesign24</a></li>
            <li><a href="https://www.linkedin.com/company/id24conf/"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> id24conf</a></li>
        </ul>
    </nav>
    <nav id="footer-ancilliary" aria-label="Secondary">
        <ul>
            <li><a href="/2021/code-of-conduct/">Code of conduct</a></li>
            <li><a href="/2021/presenters/">Information for presenters</a></li>
            <li><a href="/editions/">#id24 editions</a></li>
            <li><a href="/about/">About #id24</a></li>
        </ul>
    </nav>
    <div id="logo_hashtag">
        <img src="/2021/images/id24_logo_mono_white.svg" alt="#id24">
    </div>
</footer>

{% include google.html %}
</script>
</body>
</html>