<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inclusive Design 24 (#id24) 17 September 2020</title>
    {% include '2020/meta.html' %}
</head>
<body>
{% include '2020/inline-svg.html' %}
{% include '2020/header.html' %}
<main role="main">
<div>
<h1>Save the date! #id24 returns on 17 September 2020!</h1>

<p><cite>Inclusive Design 24</cite> (#id24) is a free 24-hour online event for the global community. It celebrates inclusive design and shares knowledge and ideas from analogue to digital, from design to development, from planners to practitioners, and everything and everyone in between.</p>

<!--<p>Call for presentations and further information will be posted soon...</p>-->

<!-- <section id="cfp">
<h2>Call for presentations</h2>

<p>Have a great idea for a talk? Want to present at #id24? Great! Our call for speakers opens on <strong>16 March 2020</strong> and closes on <strong>7 June 2020</strong>.</p>

<p><a id="connect" href="https://docs.google.com/forms/d/1iTwJgpWUr3_fS90lVAs63vvS6JAG8eWDhRu8nG1_Jz8" onclick="ga('send', 'event', 'Submissions', 'Click', 'Submit');">Submit a talk</a></p>

<p>Selected speakers will be notified the week of <strong>15 June 2020</strong>.<br>Have any questions? Why not drop us an email at <a href="mailto:hello@inclusivedesign24.org">hello@inclusivedesign24.org</a></p>
</section> -->

<!--
<section id="cfp">
<h2>Call for presentations closed</h2>

<p>Thank you to all the people who submitted talk proposals. We are currently finalizing the schedule. Watch this space for a full rundown of planned presentations, as well as instructions on how to virtually attend our free event.</p>

<p>Selected speakers will be notified the week of <strong>15 June 2020</strong>.<br>Have any questions? Why not drop us an email at <a href="mailto:hello@inclusivedesign24.org">hello@inclusivedesign24.org</a></p>
</section>
-->

<!--
<section id="countdown" aria-live="polite" aria-atomic="true">
    The event will start in <span id="countdown_timer"></span>
</section>
-->

<section id="info">
<h2>How to join</h2>

<p>No sign-up. No registration. All sessions are streamed live and publicly on the <a href="https://www.youtube.com/inclusivedesign24">Inclusive Design 24 YouTube channel</a>{% if 2020.event.playlistId %} – see the <a target="_blank" rel="noopener" href="https://www.youtube.com/playlist?list={{ 2020.event.playlistId }}">entire playlist for the event</a>{% endif %}. Live captions for each session will be available.</p>
<p>Have a question for a presenter? No problem! Tweet your questions to <a target="_blank" rel="noopener" href="https://twitter.com/id24conf">@id24conf</a> using the <a target="_blank" rel="noopener" href="https://twitter.com/hashtag/id24">#id24 hashtag</a> and our moderators will make sure they get them answered for you.</p>
</section>
</div>
</main>

{% include '2020/supporters.html' %}

{% include '2020/footer.html' %}

<script src="/2020/scripts/countdown.js"></script>
<script>
    countdown(new Date("Sept 16, 2020 23:45:00 UTC+0").getTime(), document.getElementById("countdown_timer"));
</script>

{% include 'google.html' %}

<script src="/2020/scripts/id24.js"></script>
</body>
</html>