<!DOCTYPE html>
<html lang="en">
<head>
<title>About #id24 / Inclusive Design 24 (#id24)</title>
{% include 2022/meta.html %}
</head>
<body>
{% include 2022/inline-svg.html %}
<header>
    <div id="logo">
        <img src="/2022/images/Inclusive_Design24_logo_black.svg" alt="Inclusive Design 24">
    </div>
</header>

<main role="main">
<div>
<h1>About #id24</h1>

<p>Léonie Watson came up with the idea and the name <cite>Inclusive Design 24</cite> in 2011, but it didn't become a reality until Karl Groves had a similar idea (when he and Léonie were both working at <cite>The Paciello Group</cite>) in 2014, and Mike Paciello offered to support the first conference. Léonie was joined by a team of regulars (Adrian Roselli, Billy Gregory, Henny Swan, Ian Pouncey, Patrick H. Lauke, and Steve Faulkner), who between them made sure that <cite>Inclusive Design 24</cite> happened every year.</p>

<p>The inspiration behind <cite>Inclusive Design 24</cite> (#id24) was to bring together the global community to share knowledge and ideas without the difficulties of attending a traditional conference. From the beginning, #id24 has only been possible because of the community. It took just three weeks to organise the first conference, and everyone gave their time generously. We had no budget, but many respected and notable people gladly agreed to give a talk because they wanted to help. That generosity has continued over the years, with <cite>Barclays Access</cite>, <cite>Intopia</cite>, <cite>Microsoft</cite> and others, joining <cite>The Paciello Group</cite> as supporters of <cite>#id24</cite>.</p>

<p>As of 2019, <cite>Inclusive Design 24</cite> is set up as an <em>unincorporated nonprofit association</em>, dedicated to running <cite>#id24</cite> as an event that is free to all participants, open to everyone, and as inclusive as we can make it. For the <cite>#id24</cite> team itself, it will always be a "labour of love" though – we are all happy to invest our own time and resources to keep the spirit of <cite>#id24</cite> alive and well.</p>

</div>
</main>

<footer>
    <nav id="footer-social" aria-label="Social media">
        <ul>
            <li><a href="https://twitter.com/id24conf"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @id24conf</a></li>
            <li><a href="https://www.youtube.com/InclusiveDesign24"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="YouTube: " focusable="false"><use xlink:href="#icon-player"></use></svg> InclusiveDesign24</a></li>
            <li><a href="https://www.linkedin.com/company/id24conf/"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> id24conf</a></li>
        </ul>
    </nav>
    <nav id="footer-ancilliary" aria-label="Secondary">
        <ul>
            <li><a href="/editions/">#id24 editions</a></li>
            <li><a href="/about/" aria-current="page">About #id24</a></li>
        </ul>
    </nav>
    <div id="logo_hashtag">
        <img src="/2022/images/id24_logo_mono_white.svg" alt="#id24">
    </div>
</footer>

{% include google.html %}
</script>
</body>
</html>