<!DOCTYPE html>
<html lang="en">
<head>
<title>#id24 editions / Inclusive Design 24 (#id24)</title>
{% include '2025/meta.html' %}
</head>
<body>
{% include '2025/inline-svg.html' %}
<header>
    <div id="logo">
        <img src="/2025/images/Inclusive_Design24_logo_black.svg" alt="Inclusive Design 24">
    </div>
</header>

<main>
<div>
<h1>#id24 editions</h1>
<ul id="editions">
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2025/">Inclusive Design 24 (2025) / 25 September 2025</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2024/">Inclusive Design 24 (2024) / 12 September 2024</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2023/">Inclusive Design 24 (2023) / 21 September 2023</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2022/">Inclusive Design 24 (2022) / 22 September 2022</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2021/">Inclusive Design 24 (2021) / 23 September 2021</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2020/">Inclusive Design 24 (2020) / 17 September 2020</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2019/">Inclusive Design 24 (2019) / 10 October 2019</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2018/">Inclusive Design 24 (2018) / 11 October 2018</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2017-11/">Inclusive Design 24 (Nov 2017) / 16 November 2017</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2017/">Inclusive Design 24 (Jun 2017) / 9 June 2017</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2016/">Inclusive Design 24 (2016) / 19 May 2016</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2015/">Inclusive Design 24 (2015) / 21 May 2015</a></li>
    <li><svg viewBox="0 0 16 16" class="icon" aria-hidden="true"><use xlink:href="#icon-calendar"></use></svg> <a href="/2014/">Inclusive Design 24 (2014) / 15 May 2014</a></li>
</ul>
</div>
</main>

{% include '2025/footer.html' %}

{% include 'google.html' %}

</body>
</html>