<!DOCTYPE html>
<html lang="en">
<head>
<title>Supporters / Inclusive Design 24 (#id24) 17 September 2020</title>
{% include '2020/meta.html' %}
</head>
<body>
{% include '2020/inline-svg.html' %}
{% include '2020/header.html' %}
<main role="main">
<div>
<h1>Supporters</h1>

<p><cite>Inclusive Design 24</cite> offers four supporter tiers – platinum, gold, silver and bronze. All supporters get:</p>

<ul>
    <li>Your logo / link on the event website (on all pages for platinum, gold and silver; on the supporters page only for bronze)</li>
    <li>Mention in the intro/outro of #id24 sessions (every session for platinum, every second session for gold, every third session for silver)</li>
    <li>Regular mentions on social networks, before, during, and after the event</li>
</ul>

<p><strong>Platinum tier exclusive:</strong> your logo on the video title card/thumbnail. Additionally, one person from your company/organization can join the live pre-conference chat and countdown, 15 minutes before the start of #id24.</p>

<p>Interested in becoming a supporter? Just drop us an email at <a href="mailto:hello@inclusivedesign24.org">hello@inclusivedesign24.org</a></p>
</div>
</main>

{% include '2020/supporters.html' %}

{% include '2020/footer.html' %}

{% include 'google.html' %}

<script src="/2020/scripts/id24.js"></script>
</script>
</body>
</html>