<!DOCTYPE html>
<html lang="en">
<head>
<title>#id24 team / Inclusive Design 24 (#id24) 24 September 2026</title>
{% include '2026/meta.html' %}
</head>
<body>
{% include '2026/inline-svg.html' %}
{% include '2026/header.html' %}
<main>
<div>
<h1>Team</h1>

<h2>Organisers</h2>

<dl class="team">
    <dt>Patrick H. Lauke</dt>
        <dd><a href="https://mastodon.social/@patrick_h_lauke"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @patrick_h_lauke@mastodon.social</a></dd>
        <dd><a href="https://www.splintered.co.uk/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> splintered.co.uk</a></dd>
    <dt>Léonie Watson</dt>
        <dd><a href="https://front-end.social/@tink"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @tink@front-end.social</a></dd>
        <dd><a href="https://tink.uk/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> tink.uk</a></dd>
    <dt>Ian Pouncey</dt>
        <dd><a href="https://mastodon.social/@IanPouncey"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @IanPouncey@mastodon.social</a></dd>
        <dd><a href="https://ianpouncey.com/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ianpouncey.com</a></dd>
    <dt>Eric Bailey</dt>
        <dd><a href="https://social.ericwbailey.website/@eric"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @eric@social.ericwbailey.website</a></dd>
        <dd><a href="https://ericwbailey.design/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ericwbailey.design</a></dd>
    <dt>Stewart Hay</dt>
        <dd><a href="https://mastodon.social/@intopia"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @intopia@mastodon.social</a></dd>
        <dd><a href="https://https://intopia.digital/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> intopia.digital</a></dd>
    <dt>Hans Hillen</dt>
        <dd><a href="https://mastodon.social/@hhillen"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @hhillen@mastodon.social</a></dd>
    <dt>Kathleen McMahon</dt>
        <dd><a href="https://front-end.social/@resource11"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @resource11@front-end.social</a></dd>
        <dd><a href="https://www.kathleenmcmahon.dev/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> kathleenmcmahon.me</a></dd>
    <dt>Adrian Roselli</dt>
        <dd><a href="https://toot.cafe/@aardrian"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @aardrian@toot.cafe</a></dd>
        <dd><a href="https://adrianroselli.com/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> adrianroselli.com</a></dd>
</dl>

<h2>Guest hosts</h2>

<p>In addition to our organisers, our sessions are co-hosted by past speakers and friends of <cite>#id24</cite>.</p>

<dl class="team">
    <dt>Jaunita Flessas</dt>
        <dd><a href="https://empoweraccessibility.com/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> empoweraccessibility.com</a></dd>
        <dd><a href="https://www.linkedin.com/in/Jaunitaflessas"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> Jaunitaflessas</a></dd>
    <dt>Peyton Menzies</dt>
        <dd><a href="https://www.linkedin.com/in/peyton-menzies/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> peyton-menzies</a></dd>
    <dt>Sara Soueidan</dt>
        <dd><a href="https://sarasoueidan.com"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> sarasoueidan.com</a></dd>
        <dd><a href="https://bsky.app/profile/sarasoueidan.com"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Bluesky: " focusable="false"><use xlink:href="#icon-bluesky"></use></svg> sarasoueidan.com</a></dd>
    <dt>Nic Chan</dt>
        <dd><a href="https://nicchan.me/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> nicchan.me</a></dd>
        <dd><a href="https://indieweb.social/@NicMakesStuff/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @NicMakesStuff@indieweb.social</a></dd>
    <dt>Michelle Chu</dt>
        <dd><a href="https://au.linkedin.com/in/chu-michelle"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> chu-michelle</a></dd>
    <dt>Florence Okoye</dt>
        <dd><a href="https://mastodon.social/@FINOkoye"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @FINOkoye@mastodon.social</a></dd>
        <dd><a href="https://www.linkedin.com/in/florence-okoye-95156849/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> florence-okoye-95156849</a></dd>
    <dt>Layshi Curbelo</dt>
        <dd><a href="https://layshicurbelo.com/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> layshicurbelo.com</a></dd>
        <dd><a href="https://www.instagram.com/layscurbelo/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Instagram: " focusable="false"><use xlink:href="#icon-instagram"></use></svg> layscurbelo</a></dd>
        <dd><a href="https://www.linkedin.com/in/layscurbelo/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> layscurbelo</a></dd>
    <dt>Kai Wong</dt>
        <dd><a href="https://www.linkedin.com/in/kwong4a11y/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> kwong4a11y</a></dd>
    <dt>Maya Sellon</dt>
        <dd><a href="https://www.mayasellon.com/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> mayasellon.com</a></dd>
        <dd><a href="https://www.linkedin.com/in/mayasellon"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> mayasellon</a></dd>
</dl>

</div>
</main>

{% include '2026/supporters.html' %}

{% include '2026/footer.html' %}


<script src="/2026/scripts/id24.js"></script>
</body>
</html>