<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inclusive Design 24 (#id24) 22 September 2022</title>
    {% include 2022/meta.html %}
</head>
<body>
{% include 2022/inline-svg.html %}
{% include 2022/header.html %}
<main>
<div>
<h1>Oops ... this page is not available</h1>
<p>It seems that the page you're trying to access doesn't exist.</p>
</div>
</main>

{% include 2022/supporters.html %}

{% include 2022/footer.html %}

{% include google.html %}

<script src="/2022/scripts/id24.js"></script>
</body>
</html>