<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inclusive Design 24 (#id24) 23 September 2021</title>
    {% include 2021/meta.html %}
</head>
<body>
{% include 2021/inline-svg.html %}
{% include 2021/header.html %}
<main>
<div>
<h1>Oops ... this page is not available</h1>
<p>It seems that the page you're trying to access doesn't exist.</p>
</div>
</main>

{% include 2021/supporters.html %}

{% include 2021/footer.html %}

{% include google.html %}

<script src="/2021/scripts/id24.js"></script>
</body>
</html>