<aside id="supporters">
    <h2>Supporters</h2>
    <h3><span>Platinum</span></h3>
    <ul>
        <li><a href="https://www.tpgarc.com/" target="_blank"><img src="/2021/supporters/arc.svg" alt="ARC"></a></li>
        <li><a href="https://makeitfable.com/" target="_blank"><img src="/2021/supporters/fable.svg" alt="Fable"></a></li>
        <li><a href="https://intopia.digital/" target="_blank"><img src="/2021/supporters/intopia.svg" alt="Intopia"></a></li>
    </ul>
    <!-- <h3><span>Gold</span></h3>
    <ul>
        <li><a href="https://tetralogical.com/" target="_blank"><img src="/2021/supporters/tetralogical.svg" alt="TetraLogical"></a></li>
    </ul> -->
    <h3><span>Silver</span></h3>
    <ul>
        <li><a href="https://www.intuit.com/" target="_blank"><img src="/2021/supporters/intuit.svg" alt="Intuit®"></a></li>
        <li><a href="https://infoaxia.co.jp/" target="_blank"><img src="/2021/supporters/infoaxia.svg" alt="Infoaxia"></a></li>
    </ul>
    <h3><span>Bronze</span></h3>
    <ul>
        <li><a href="https://adrianroselli.com/" target="_blank"><img src="/2021/supporters/adrian-roselli-llc.svg" alt="Adrian Roselli LLC"></a></li>
    </ul>
</aside>