<!DOCTYPE html>
<html lang="en">
<head>
<title>#id24 team / Inclusive Design 24 (#id24) 25 September 2025</title>
{% include '2025/meta.html' %}
</head>
<body>
{% include '2025/inline-svg.html' %}
{% include '2025/header.html' %}
<main>
<div>
<h1>Team</h1>

<h2>Organisers</h2>

<dl class="team">
    <dt>Patrick H. Lauke</dt>
        <dd><a href="https://mastodon.social/@patrick_h_lauke"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @patrick_h_lauke@mastodon.social</a></dd>
        <dd><a href="https://www.splintered.co.uk/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> splintered.co.uk</a></dd>
    <dt>Léonie Watson</dt>
        <dd><a href="https://front-end.social/@tink"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @tink@front-end.social</a></dd>
        <dd><a href="https://tink.uk/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> tink.uk</a></dd>
    <dt>Ian Pouncey</dt>
        <dd><a href="https://mastodon.social/@IanPouncey"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @IanPouncey@mastodon.social</a></dd>
        <dd><a href="https://ianpouncey.com/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ianpouncey.com</a></dd>
    <dt>Eric Bailey</dt>
        <dd><a href="https://social.ericwbailey.website/@eric"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @eric@social.ericwbailey.website</a></dd>
        <dd><a href="https://ericwbailey.design/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ericwbailey.design</a></dd>
    <dt>Stewart Hay</dt>
        <dd><a href="https://mastodon.social/@intopia"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @intopia@mastodon.social</a></dd>
        <dd><a href="https://https://intopia.digital/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> intopia.digital</a></dd>
    <dt>Hans Hillen</dt>
        <dd><a href="https://twitter.com/hanshillen"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @hanshillen</a></dd>
        <dd><a href="https://mastodon.social/@hhillen"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @hhillen@mastodon.social</a></dd>
    <dt>Kathleen McMahon</dt>
        <dd><a href="https://front-end.social/@resource11"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @resource11@front-end.social</a></dd>
        <dd><a href="https://www.kathleenmcmahon.dev/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> kathleenmcmahon.me</a></dd>
    <dt>Adrian Roselli</dt>
        <dd><a href="https://toot.cafe/@aardrian"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @aardrian@toot.cafe</a></dd>
        <dd><a href="https://adrianroselli.com/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> adrianroselli.com</a></dd>
</dl>

<h2>Guest hosts</h2>

<p>In addition to our organisers, our sessions are co-hosted by past speakers and friends of <cite>#id24</cite>.</p>

<dl class="team">
    <dt>Carie Fisher</dt>
        <dd><a href="https://www.linkedin.com/in/cariefisher/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> cariefisher</a></dd>
        <dd><a href="https://mstdn.social/@cariefisher"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @cariefisher@mstdn.social</a></dd>
        <dd><a href="https://cariefisher.com/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> cariefisher.com</a></dd>
    <dt>Eriol Fox</dt>
        <dd><a href="https://erioldoesdesign.github.io/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> erioldoesdesign.github.io</a></dd>
        <dd><a href="https://github.com/Erioldoesdesign"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-github"></use></svg> github.com/Erioldoesdesign</a></dd>
        <dd><a href="https://hachyderm.io/@erioldoesdesign"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @erioldoesdesign@hachyderm.io</a></dd>
        <dd><a href="https://bsky.app/profile/erioldoesdesign.bsky.social"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Bluesky: " focusable="false"><use xlink:href="#icon-bluesky"></use></svg> @erioldoesdesign.bsky.social</a></dd>
        <dd><a href="https://www.linkedin.com/in/eriolfox/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> eriolfox</a></dd>
    <dt>Ross Mullen</dt>
        <dd><a href="https://www.linkedin.com/in/rossmullen/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> rossmullen</a></dd>
        <dd><a href="https://www.canaxess.com.au/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> canaxess.com.au</a></dd>
    <dt>Makoto Ueki</dt>
        <dd><a href="https://www.linkedin.com/in/makoto-ueki-weba11y/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> makoto-ueki-weba11y</a></dd>
        <dd><a href="https://www.facebook.com/makoto.ueki.jp"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Facebook: " focusable="false"><use xlink:href="#icon-facebook"></use></svg> makoto.ueki.jp</a></dd>
    <dt>Joe Lamyman</dt>
        <dd><a href="https://indieweb.social/@JoeLamyman"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @JoeLamyman@indieweb.social</a></dd>
        <dd><a href="https://joelamyman.co.uk"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> joelamyman.co.uk</a></dd>
    <dt>David Swallow</dt>
        <dd><a href="https://mastodon.online/@davidofyork"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @davidofyork@mastodon.online</a></dd>
        <dd><a href="https://davidswallow.co.uk/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> davidswallow.co.uk</a></dd>
    <dt>Stéphanie Walter</dt>
        <dd><a href="https://stephaniewalter.design/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> stephaniewalter.design</a></dd>
        <dd><a href="https://bsky.app/profile/stephaniewalter.bsky.social"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Bluesky: " focusable="false"><use xlink:href="#icon-bluesky"></use></svg> @stephaniewalter.bsky.social</a></dd>
    <dt>Wendy Reid</dt>
        <dd><a href="https://www.linkedin.com/in/wendyareid"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> wendyareid</a></dd>
        <dd><a href="https://bsky.app/profile/reidmore.bsky.social"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Bluesky: " focusable="false"><use xlink:href="#icon-bluesky"></use></svg> @reidmore.bsky.social</a></dd>
    <dt>Rob Whitaker</dt>
        <dd><a href="https://iosdev.space/@RobW/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @RobW@iosdev.space</a></dd>
        <dd><a href="https://www.linkedin.com/in/rob-whitaker/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> rob-whitaker</a></dd>
    <dt>Lauren Race</dt>
        <dd><a href="https://www.linkedin.com/in/lauren-race/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> lauren-race</a></dd>
    <dt>Bruce Lawson</dt>
        <dd><a href="https://social.vivaldi.net/@brucelawson"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @brucelawson@vivaldi.net</a></dd>
        <dd><a href="https://brucelawson.co.uk/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> brucelawson.co.uk</a></dd>
    <dt>Dave Letorey</dt>
        <dd><a href="https://front-end.social/@dletorey"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @dletorey@front-end.social</a></dd>
        <dd><a href="https://letorey.co.uk/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> letorey.co.uk</a></dd>
        <dd><a href="https://londonwebstandards.org/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> londonwebstandards.org</a></dd>
        <dd><a href="https://stateofthebrowser.com"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> stateofthebrowser.com</a></dd>
    <dt>Heydon Pickering</dt>
        <dd><a href="https://heydonworks.com/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> heydonworks.com</a></dd>
        <dd><a href="https://front-end.social/@heydon"> @heydon@front-end.social</a></dd>
    <dt>Terence Eden</dt>
        <dd><a href="https://mastodon.social/@Edent"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @Edent@mastodon.social</a></dd>
        <dd><a href="https://shkspr.mobi/blog/"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> shkspr.mobi/blog</a></dd>
    <dt>Jared Smith</dt>
        <dd><a href="https://webaim.org"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> webaim.org</a></dd>
        <dd><a href="https://www.linkedin.com/in/jaredsmithsprofile/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> jaredsmithsprofile</a></dd>
    <dt>Crystal Preston-Watson</dt>
        <dd><a href="https://CrystalPrestonWatson.com"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> CrystalPrestonWatson.com</a></dd>
        <dd><a href="https://bsky.app/profile/scopicengineer.bsky.social"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Bluesky: " focusable="false"><use xlink:href="#icon-bluesky"></use></svg> @scopicengineer.bsky.social</a></dd>
        <dd><a href="https://mstdn.social/@ScopicEngineer"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @ScopicEngineer@mstdn.social</a></dd>
    <dt>Jim O'Donnell</dt>
        <dd><a href="https://mastodon.social/@eatyourgreens"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg>  @eatyourgreens@mastodon.social</a></dd>
        <dd><a href="https://www.linkedin.com/in/jim-o-donnell-5406a73/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> jim-o-donnell-5406a73</a></dd>
    <dt>Ricky Onsman</dt>
        <dd><a href="https://www.linkedin.com/in/rickyonsman/"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> rickyonsman</a></dd>
        <dd><a href="https://aus.social/@onsman"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @onsman@aus.social</a></dd>
        <dd><a href="https://onsman.com"><svg viewBox="0 0 16 16" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> onsman.com</a></dd>
</dl>

</div>
</main>

{% include '2025/supporters.html' %}

{% include '2025/footer.html' %}

{% include 'google.html' %}

<script src="/2025/scripts/id24.js"></script>
</body>
</html>