<!DOCTYPE html>
<html lang="en">
<head>
<title>#id24 team / Inclusive Design 24 (#id24) 17 September 2020</title>
{% include 2020/meta.html %}
</head>
<body>
{% include 2020/inline-svg.html %}
{% include 2020/header.html %}
<main role="main">
<div>
<h1>Team</h1>

<h2>Organisers</h2>

<dl class="team">
    <dt>Léonie Watson</dt>
    <dd><a href="https://twitter.com/LeonieWatson"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @LeonieWatson</a></dd>
    <dd><a href="https://tink.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> tink.uk</a></dd>
    <dt>Ian Pouncey</dt>
    <dd><a href="https://twitter.com/IanPouncey"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @IanPouncey</a></dd>
    <dd><a href="https://ianpouncey.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ianpouncey.com</a></dd>
    <dt>Patrick H. Lauke</dt>
    <dd><a href="https://twitter.com/patrick_h_lauke"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @patrick_h_lauke</a></dd>
    <dd><a href="https://www.splintered.co.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> splintered.co.uk</a></dd>
    <dt>Eric Bailey</dt>
    <dd><a href="https://twitter.com/ericwbailey"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @ericwbailey</a></dd>
    <dd><a href="https://ericwbailey.design/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ericwbailey.design</a></dd>
    <dt>Steve Faulkner</dt>
    <dd><a href="https://twitter.com/stevefaulkner"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @stevefaulkner</a></dd>
    <dd><a href="https://html5accessibility.com/stuff/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> html5accessibility.com/stuff</a></dd>
    <dt>Adrian Roselli</dt>
    <dd><a href="https://twitter.com/aardrian"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @aardrian</a></dd>
    <dd><a href="https://adrianroselli.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> adrianroselli.com</a></dd>
</dl>

<h2>Hosts</h2>

<p>In addition to our organisers, our sessions are co-hosted by past speakers and friends of <cite>#id24</cite>. This year, we're lucky to welcome:</p>

<dl class="team">
    <dt>Carie Fisher</dt>
    <dd><a href="https://twitter.com/cariefisher"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @cariefisher</a></dd>
    <dd><a href="https://cariefisher.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> cariefisher.com</a></dd>
    <dt>Seth Kane</dt>
    <dd><a href="https://twitter.com/onesixtieth"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @onesixtieth</a></dd>
    <dd><a href="https://www.linkedin.com/in/sethmkane/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> linkedin.com/in/sethmkane</a></dd>
    <dt>Hans Hillen</dt>
    <dd><a href="https://twitter.com/hanshillen"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @hanshillen</a></dd>
    <dt>Thomas Logan</dt>
    <dd><a href="https://twitter.com/TechThomas"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @TechThomas</a></dd>
    <dd><a href="https://equalentry.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> equalentry.com</a></dd>
    <dt>Makoto Ueki</dt>
    <dd><a href="https://twitter.com/mak_en"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @mak_en</a></dd>
    <dd><a href="https://infoaxia.co.jp/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> infoaxia.co.jp</a></dd>
    <dt>Alastair Campbell</dt>
    <dd><a href="https://twitter.com/alastc"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @alastc</a></dd>
    <dd><a href="https://www.nomensa.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> nomensa.com</a></dd>
    <dt>Jo Franchetti</dt>
    <dd><a href="https://twitter.com/thisisjofrank"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @thisisjofrank</a></dd>
    <dt>Hidde de Vries</dt>
    <dd><a href="https://twitter.com/hdv"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @hdv</a></dd>
    <dd><a href="http://hidde.blog"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> hidde.blog</a></dd>
    <dt>Jared Smith</dt>
    <dd><a href="https://twitter.com/jared_w_smith"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @jared_w_smith</a></dd>
    <dd><a href="https://webaim.org/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> webaim.org</a></dd>
    <dt>Melanie Sumner</dt>
    <dd><a href="https://twitter.com/melaniersumner"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @melaniersumner</a></dd>
    <dd><a href="https://noti.st/melsumner"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> noti.st/melsumner</a></dd>
</dl>
</div>
</main>

{% include 2020/supporters.html %}

{% include 2020/footer.html %}

{% include google.html %}

<script src="/2020/scripts/id24.js"></script>
</script>
</body>
</html>