<!DOCTYPE html>
<html lang="en">
<head>
<title>#id24 team / Inclusive Design 24 (#id24) 12 September 2024</title>
{% include '2024/meta.html' %}
</head>
<body>
{% include '2024/inline-svg.html' %}
{% include '2024/header.html' %}
<main>
<div>
<h1>Team</h1>

<h2>Organisers</h2>

<dl class="team">
    <dt>Patrick H. Lauke</dt>
        <dd><a href="https://mastodon.social/@patrick_h_lauke"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @patrick_h_lauke@mastodon.social</a></dd>
        <dd><a href="https://www.splintered.co.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> splintered.co.uk</a></dd>
    <dt>Léonie Watson</dt>
        <dd><a href="https://front-end.social/@tink"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @tink@front-end.social</a></dd>
        <dd><a href="https://tink.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> tink.uk</a></dd>
    <dt>Ian Pouncey</dt>
        <dd><a href="https://mastodon.social/@IanPouncey"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @IanPouncey@mastodon.social</a></dd>
        <dd><a href="https://ianpouncey.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ianpouncey.com</a></dd>
    <dt>Eric Bailey</dt>
        <dd><a href="https://social.ericwbailey.website/@eric"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @eric@social.ericwbailey.website</a></dd>
        <dd><a href="https://ericwbailey.design/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ericwbailey.design</a></dd>
    <dt>Stewart Hay</dt>
        <dd><a href="https://mastodon.social/@intopia"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @intopia@mastodon.social</a></dd>
        <dd><a href="https://https://intopia.digital/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> intopia.digital</a></dd>
    <dt>Hans Hillen</dt>
        <dd><a href="https://twitter.com/hanshillen"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @hanshillen</a></dd>
        <dd><a href="https://mastodon.social/@hhillen"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @hhillen@mastodon.social</a></dd>
    <dt>Kathleen McMahon</dt>
        <dd><a href="https://front-end.social/@resource11"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @resource11@front-end.social</a></dd>
        <dd><a href="https://www.kathleenmcmahon.dev/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> kathleenmcmahon.me</a></dd>
    <dt>Adrian Roselli</dt>
        <dd><a href="https://toot.cafe/@aardrian"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @aardrian@toot.cafe</a></dd>
        <dd><a href="https://adrianroselli.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> adrianroselli.com</a></dd>
</dl>

<h2>Guest hosts</h2>

<p>In addition to our organisers, our sessions are co-hosted by past speakers and friends of <cite>#id24</cite>.</p>

<dl class="team">
    <dt>Sarah Higley</dt>
        <dd><a href="https://vis.social/@codingchaos"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @codingchaos@vis.social</a></dd>
        <dd><a href="https://sarahmhigley.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> sarahmhigley.com</a></dd>
    <dt>Ted Drake</dt>
        <dd><a href="https://mastodon.social/@Ted_drake"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @Ted_drake@mastodon.social</a></dd>
    <dt>Ricky Onsman</dt>
        <dd><a href="https://www.linkedin.com/in/rickyonsman/"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> rickyonsman</a></dd>
        <dd><a href="https://aus.social/@onsman"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @onsman@aus.social</a></dd>
        <dd><a href="https://onsman.com"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> onsman.com</a></dd>
    <dt>Christian Schäfer</dt>
        <dd><a href="https://mastodon.social/@Schepp"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @Schepp@mastodon.social</a></dd>
        <dd><a href="https://www.linkedin.com/in/christian-schaefer-a696041a"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> christian-schaefer</a></dd>
        <dd><a href="https://schepp.dev/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> schepp.dev</a></dd>
    <dt>David Swallow</dt>
        <dd><a href="https://mastodon.online/@davidofyork"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @davidofyork@mastodon.online</a></dd>
        <dd><a href="https://davidswallow.co.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> davidswallow.co.uk</a></dd>
    <dt>Wendy Reid</dt>
        <dd><a href="https://www.linkedin.com/in/wendyareid"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> wendyareid</a></dd>
        <dd><a href="https://reidmore.online"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> reidmore.online</a></dd>
    <dt>Dave Letorey</dt>
        <dd><a href="https://front-end.social/@dletorey"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @dletorey@front-end.social</a></dd>
        <dd><a href="https://letorey.co.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> letorey.co.uk</a></dd>
        <dd><a href="https://londonwebstandards.org/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> londonwebstandards.org</a></dd>
        <dd><a href="https://stateofthebrowser.com"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> stateofthebrowser.com</a></dd>
    <dt>Bruce Lawson</dt>
        <dd><a href="https://social.vivaldi.net/@brucelawson"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @brucelawson@vivaldi.net</a></dd>
        <dd><a href="https://brucelawson.co.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> brucelawson.co.uk</a></dd>
    <dt>Lee Dale</dt>
        <dd><a href="https://www.linkedin.com/in/leedaleyyz/"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> leedaleyyz</a></dd>
        <dd><a href="https://sayyeah.com"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> sayyeah.com</a></dd>
        <dd><a href="https://leedale.ca"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> leedale.ca</a></dd>
    <dt>Juliette Alexandria</dt>
        <dd><a href="https://www.linkedin.com/in/juliette-alexandria-8946a91b0/"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> juliette-alexandria</a></dd>
        <dd><a href="https://www.zenythgroup.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> zenythgroup.com</a></dd>
    <dt>Carie Fisher</dt>
        <dd><a href="https://www.linkedin.com/in/cariefisher/"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> cariefisher</a></dd>
        <dd><a href="https://mstdn.social/@cariefisher"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @cariefisher@mstdn.social</a></dd>
        <dd><a href="https://cariefisher.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> cariefisher.com</a></dd>
</dl>
</div>
</main>

{% include '2024/supporters.html' %}

{% include '2024/footer.html' %}

{% include 'google.html' %}

<script src="/2024/scripts/id24.js"></script>
</body>
</html>