<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inclusive Design 24 (#id24) 25 September 2025</title>
    {% include '2025/meta.html' %}
</head>
<body>
{% include '2025/inline-svg.html' %}
{% include '2025/header.html' %}
<main>
<div>
<h1>Oops ... this page is not available</h1>
<p>It seems that the page you’re trying to access doesn’t exist.</p>
</div>
</main>

{% include '2025/supporters.html' %}

{% include '2025/footer.html' %}

{% include 'google.html' %}

<script src="/2025/scripts/id24.js"></script>
</body>
</html>