<!DOCTYPE html>
<html lang="en">
<head>
<title>#id24 team / Inclusive Design 24 (#id24) 22 September 2022</title>
{% include '2022/meta.html' %}
</head>
<body>
{% include '2022/inline-svg.html' %}
{% include '2022/header.html' %}
<main>
<div>
<h1>Team</h1>

<h2>Organisers</h2>

<dl class="team">
    <dt>Léonie Watson</dt>
    <dd><a href="https://twitter.com/LeonieWatson"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @LeonieWatson</a></dd>
    <dd><a href="https://tink.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> tink.uk</a></dd>
    <dt>Ian Pouncey</dt>
    <dd><a href="https://twitter.com/IanPouncey"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @IanPouncey</a></dd>
    <dd><a href="https://ianpouncey.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ianpouncey.com</a></dd>
    <dt>Patrick H. Lauke</dt>
    <dd><a href="https://twitter.com/patrick_h_lauke"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @patrick_h_lauke</a></dd>
    <dd><a href="https://www.splintered.co.uk/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> splintered.co.uk</a></dd>
    <dt>Eric Bailey</dt>
    <dd><a href="https://twitter.com/ericwbailey"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @ericwbailey</a></dd>
    <dd><a href="https://ericwbailey.design/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> ericwbailey.design</a></dd>
    <dt>Adrian Roselli</dt>
    <dd><a href="https://twitter.com/aardrian"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @aardrian</a></dd>
    <dd><a href="https://adrianroselli.com/"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> adrianroselli.com</a></dd>
    <dt>Thomas Logan</dt>
    <dd><a href="https://twitter.com/techthomas"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @techthomas</a></dd>
    <dd><a href="https://equalentry.com"><svg viewBox="0 0 24 24" class="icon" aria-hidden="true" focusable="false"><use xlink:href="#icon-earth"></use></svg> equalentry.com</a></dd>
    <dt>Hans Hillen</dt>
    <dd><a href="https://twitter.com/hanshillen"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @hanshillen</a></dd>
    <dt>Henny Swan</dt>
    <dd><a href="https://twitter.com/iheni"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="Twitter: " focusable="false"><use xlink:href="#icon-twitter"></use></svg> @iheni</a></dd>
</dl>

<h2>Guest hosts</h2>

<p>In addition to our organisers, our sessions are co-hosted by past speakers and friends of <cite>#id24</cite>. Watch this space for the complete list of co-hosts.</p>

</div>
</main>

{% include '2022/supporters.html' %}

{% include '2022/footer.html' %}

{% include 'google.html' %}

<script src="/2022/scripts/id24.js"></script>
</body>
</html>