<!DOCTYPE html>
<html lang="en">
<head>
<title>Information for presenters / Inclusive Design 24 (#id24) 21 September 2023</title>
{% include '2023/meta.html' %}
</head>
<body>
{% include '2023/inline-svg.html' %}
{% include '2023/header.html' %}
<main>
<div>
<h1>Information for presenters</h1>

<p>Hello <cite>#id24</cite> presenters!</p>

<p>As <cite>#id24</cite> approaches, we’ve put together a few bits and pieces for you to help you prepare for the big day.</p>

<ul>
  <li>Please check the time of your talk once again. <cite>#id24</cite> runs on UTC/GMT, so depending on where in the world you are, your talk may be at a different time (on Wednesday not Thursday for example). The <a href="https://inclusivedesign24.org/">#id24 website</a> will show the time of your talk based on the time zone you’re currently in.</li>
  <li>Please be in the Slack channel at least 30 minutes before your talk is due to start, and have your slides ready to go promptly on the hour.</li>
  <li>Please keep to time. <cite>#id24</cite> talks run for 40 minutes with a 10-minute question period at the end. We have to allow a 10-minute change-over between talks for the captioners and hosts. To keep <cite>#id24</cite> running smoothly, we’ll be strict about finishing talks (including questions) inside of 50 minutes, but it is also important that your talk does not stop too far short of 40 minutes in order to avoid unexpectedly long breaks between talks, so please run through your talk to make sure it fits the expected time.</li>
</ul>

<h2>Zoom</h2>

<p>We use Zoom to broadcast to YouTube live. Because of how this is set up, the host will start the Zoom at around 10 minutes to the hour, and invite you to join via the URL we sent you in the days before the conference.</p>

<ul>
  <li>You must complete a tech check by Friday 16 September. You need to do your tech check using the same setup you will use on the day, and from the same location. We will have an open Zoom running the week before for speakers to join. If you’d like an invite, just ping one of the <cite>#id24</cite> team in the Slack channel.</li>
  <li>Do not “Add” attendees from the Zoom URLs. Attendees/viewers will watch via YouTube or via the publicly published URLs on the <cite>#id24</cite> site.</li>
</ul>

<p>If you are unfamiliar with Zoom, read <a href="https://support.zoom.us/hc/en-us/categories/200101697">Zoom help: Getting started</a>.</p>

<p>Things to note:</p>

<ul>
  <li>Make sure your talk does not include any content (verbal, written, graphical, or otherwise) that may be found directly or indirectly offensive.</li>
<li>While it is possible to include audio, video, animations and live demos in your presentation, note that any motion that's very fast may not stream smoothly and get choppy. We'd recommend keeping those to a minimum.</li>
  <li>When co-presenting with other people, swapping control of the slides between different people often causes logistical problems. We strongly recommend that only one presenter has responsibility for controlling the slides.</li>
  <li>Please turn off all notifications (text messages, social media, Skype etc.) during your presentation.</li>
  <li>Please avoid live coding during your talk.</li>
  <li>Each session will be hosted by at least two people including one <cite>#id24</cite> team member. These teams will be responsible for collecting any audience questions and will ask them to you at the end of your talk. The hosts will be silent for the duration of your talk unless there is a reason for them to interrupt you (for example, if your screen stops sharing or there are connectivity issues)</li>
  <li>The <cite>#id24</cite> hosts will also be responsible for starting and stopping the broadcast. At the beginning of the session they will “Go live” and you can share your screen. They will then mute themselves and the floor will be yours!</li>
</ul>

<h2>Important dates</h2>

<p>Please note these important dates:</p>

<ul>
<li>Mon 4 to Fri 15 September 2023: Please complete your tech check.</li>
<li>Thu 21 September 2023: Conference day (noting time zone differences). Please be in the Slack channel at least 30 minutes before your allocated time slot, so we can get your presentation set up to start on the hour.</li>
</ul>

<h2>Spread the word!</h2>

<p>We need your help spreading the word about <cite>#id24</cite> around the world. Please share the <cite>#id24</cite> schedule with all your contacts, using the <cite>#id24</cite> hashtag.</p>

<h2>Thank you</h2>

<p>With thanks to our supporters, we are able to offer a modest "thank you" for each session. We will contact you separately with more details.</p>

<p>Thanks for being part of <cite>#id24</cite>. If there is anything else we can do to help, you know where to find us, if not - we'll see you on the day!</p>

</div>
</main>

{% include '2023/supporters.html' %}

{% include '2023/footer.html' %}

{% include 'google.html' %}

<script src="/2023/scripts/id24.js"></script>
</body>
</html>
