<footer>
  <nav id="footer-social" aria-label="Social media">
      <ul>
          <li><a href="https://indieweb.social/@inclusivedesign24"><svg viewBox="0 0 16 16" class="icon" role="img" aria-label="Mastodon: " focusable="false"><use xlink:href="#icon-mastodon"></use></svg> @inclusivedesign24@indieweb.social</a></li>
          <li><a href="https://www.youtube.com/InclusiveDesign24"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="YouTube: " focusable="false"><use xlink:href="#icon-player"></use></svg> InclusiveDesign24</a></li>
          <li><a href="https://www.linkedin.com/company/id24conf/"><svg viewBox="0 0 24 24" class="icon" role="img" aria-label="LinkedIn: " focusable="false"><use xlink:href="#icon-linkedin"></use></svg> id24conf</a></li>
      </ul>
  </nav>
  <nav id="footer-ancilliary" aria-label="Secondary">
      <ul>
          <li><a href="/2022/code-of-conduct/">Code of conduct</a></li>
          <li><a href="/2022/presenters/">Information for presenters</a></li>
          <li><a href="/editions/">#id24 editions</a></li>
          <li><a href="https://www.teepublic.com/user/inclusivedesign24">#id24 merchandise/swag</a></li>
          <li><a href="/about/">About #id24</a></li>
      </ul>
  </nav>
  <div id="logo_hashtag">
      <img src="/2022/images/id24_logo_mono_white.svg" alt="#id24">
  </div>
</footer>