<header>
    <div id="logo">
        <img src="/2022/images/Inclusive_Design24_logo_black.svg" alt="Inclusive Design 24">
    </div>
    <nav id="mainnav" aria-label="Main">
        <p id="date"><span>22 September 2022</span></p>
        <ul>
            <li><a href="/2022/">Home</a></li>
            <li><a href="/2022/schedule/">Schedule</a></li>
            <li><a href="/2022/team/">Team</a></li>
            <li><a href="/2022/supporters/">Supporters</a></li>
        </ul>
    </nav>
</header>